body {
	background: #99c;
	margin-left: 5%;
	margin-right: 5%;
	font-family: sans-serif;
}

#content {
	background: white;
	border-style: solid;
	border-width: thin;
	padding-left: 1em;
	padding-right: 1em;
}

.code {
	border-style: dashed;
	border-width: thin;
	font-family: monospace;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: .2em;
	padding-bottom: .2em;
	margin-top: .5em;
	margin-bottom: .5em;
}

h1, h2 {
	font-family: "Trebuchet MS", Trebuchet, Verdana, Sans-Serif;
	color: #dd6600;
	margin-top: .3em;
	margin-bottom: .3em;
}

p {
	margin-top: .5em;
	margin-bottom: .2em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul.big li {
	margin-bottom: 0.25em;
	padding-bottom: 0.15em;
}

img.floatright
{
	float: right;
	border: none;
	margin-left: 1em;
}
